// @font-face {
//   font-family: 'Roboto';
//   src: local('Roboto'), url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
//   url('../assets/fonts/Roboto-Regular.woff') format('woff');
// 	font-style: normal;
// 	font-weight: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: local('Roboto'), url('../assets/fonts/Roboto-Italic.woff2') format('woff2'),
//   url('../assets/fonts/Roboto-Italic.woff') format('woff');
// 	font-style: italic;
// 	font-weight: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Roboto';
//   src: local('Roboto'), url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
//   url('../assets/fonts/Roboto-Bold.woff') format('woff');
// 	font-style: normal;
// 	font-weight: bold;
//   font-display: swap;
// }

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url('../assets/fonts/Helvetica-Medium.woff2') format('woff2'),
  url('../assets/fonts/Helvetica-Medium.woff') format('woff');
	font-style: normal;
	font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url('../assets/fonts/Helvetica-Bold.woff2') format('woff2'),
  url('../assets/fonts/Helvetica-Bold.woff') format('woff');
	font-style: italic;
	font-weight: normal;
  font-display: swap;
}



// helpers
.unactive {
  color: #D0D0D0;
}
.bold {
  font-weight: 800;
}
.hidden {
  display: none;
}
.grayscale {
  filter: grayscale(100%);
  transition: 1s;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

// main
html {
  font-family: 'Helvetica';
  font-size: 16px;
}
body {
  position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  @media screen and (max-width: 900px)  {
    line-height: 1.2 !important;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  // @media screen and (min-width: 1024px) {
  //   width: 1024px;
  // }
}
.header {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // @media screen and (min-width: 1024px) {
  //   width: 1024px;
  // }
}
.header-init {
  margin: 15px;
  display: flex;
  justify-content: center;
  // font-size: 18px;


  &__button {
    height: 38px;
    padding: 5px;
    width: 200px;
    // margin-right: 10px;
    border-radius: 10px;
    background-color: #f9f2ea;
    border-width: 1px;
    @media screen and (max-width: 420px) {
      height: 20%;
    }
  }

  &__button:hover {
    background-color: #faebdc;
  }

  &__button:active {
    border-width: 2px;
  }
}

.header-game {
  display: flex;
  justify-content: center;
  // width: 95vw;
  // height: 24px;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // @media screen and (min-width: 1024px) {
  //   width: 1024px;
  // }


  &__button {
    height: 24px;
    padding: 0;
    // font-size: 16px;
    text-transform: uppercase;
  }

  &__button {
    height: 38px;
    padding: 5px;
    width: 200px;
    // margin-right: 10px;
    border-radius: 10px;
    background-color: #f9f2ea;
    border-width: 1px;
  }

  &__button:hover {
    background-color: #faebdc;
  }

  &__button:active {
    border-width: 2px;
  }
}
.total-timer, .round_counter {
  width: 200px;
  height: 36px;
  border: solid #000 1px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 30px;
}

#select_timeRemaining, #select_addingTime, #select_playersNumber {
  width: 200px;
  height: 38px;
  // margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  @media screen and (max-width: 420px)  {
    width: 20%;
}
}

main {
  width: 95vw;
  height: calc(100vh - 68px - 44px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f9f2ea;
  border-radius: 20px;
  margin: 0 20px 0 20px;
  @media screen and (max-width: 900px)  {
    width: 100vw;
  }
  @media screen and (max-width:  420px)  {
    flex-direction: column;
  }
}

.player {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 50px;
  // width: 100%;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: 420px) {
    width: 50%;
  }

  &__input {
    height: 50px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 900px)  {
      margin-bottom: 5px;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 2px 10px;
    @media screen and (max-width: 900px)  {
      margin-bottom: 5px;
    }
    @media screen and (max-width: 420px)  {
      margin-bottom: 5px;
    }
  }

  &__label {
    // font-size: 36px;
    @media screen and (max-width: 900px)  {
      // font-size: 32px;
    }
    @media screen and (max-width: 420px)  {
      display: none;
    }
  }
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30vh;
  width: 30vw;
  // font-size: 36px;
  font-weight: 800;
  text-align: center;
  color: green;
  background-color: white;
  border: solid 2px orange;
  animation: disappearance 1s;
  animation-iteration-count: 1;
  @media screen and (max-width: 900px)  {
    height: 50vh;
    width: 50vw;
    // font-size: 30px;
  }
  @media screen and (max-width: 420px)  {
    height: 30vh;
    width: 90vw;
    // font-size: 24px;
  }

  &-active {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappearance 1s;
  }
  @keyframes disappearance {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}